{% extends 'base.html' %}
{% block title %} Author Detail {% endblock %}
{% block content %}
{% load static %}

<div class="card bg-dark text-white">
  {% if author.image %}
  <img src="{{ author.image.url }}" class="card-img" alt="...">
  {% else %}
  <img src="{% static 'img/img.png' %}" class="card-img" alt="...">
  {% endif %}
  <div class="card-img-overlay">
    <h5 style="color:darkgrey;"class="card-title">{{ author }}</h5>
    <p style="color:darkgrey;"class="card-text">{{ author.data_of_birth }}</p>
    {% for book in author_books %}
    <p style="color:darkgrey;"class="card-text">{{ book }}</p>
    {% endfor %}
  </div>
</div>

{% endblock %}